@model Dashboard.Models.FormaPagamento

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FormaPagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFormaPagamento" />
            <div class="form-group">
                <label asp-for="DescricaoFp" class="control-label"></label>
                <input asp-for="DescricaoFp" class="form-control" />
                <span asp-validation-for="DescricaoFp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoFp" class="control-label"></label>
                <input asp-for="TipoFp" class="form-control" />
                <span asp-validation-for="TipoFp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
